# Build directories
build/
build-mac/
bin/
obj/
*.DS_Store

# IDE specific files
.vscode/
.idea/
.continue/
*.xcodeproj/
*.sln
*.vcxproj
*.suo
*.user

# JUCE / Binary artifacts
juce_build/
*.vst3
*.component
*.clap
*.standalone
